*.class

# Package Files #
*.war
*.ear

# jar folder
META-INF

out/config.properties

lib/aws-java-sdk-1.10.71.jar

lib/aws-java-sdk-1.10.74.jar

lib/aws-java-sdk-1.11.37.jar

lib/aws-java-sdk-1.11.228.jar

.idea/workspace.xml

target/classes/log4j2.xml
/target/
.classpath
.settings
.project
dependency-reduced-pom.xml
.idea
*.iml
