*.class

# Package Files #
*.war
*.ear

# jar folder
META-INF

config.properties
out/config.properties

lib/aws-java-sdk-1.10.71.jar

lib/aws-java-sdk-1.10.74.jar

lib/aws-java-sdk-1.11.37.jar

.idea/workspace.xml

target/classes/log4j2.xml

gradle/

build/

target/

.gradle/

*.idea/

.project

.classpath

.settings/

*.iml


bin/
